<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <nav class="nav-bar"></nav>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <img :src="image">
        </div>
        <div class="product-info">
          <h1>{{ product }}<span v-if="onSale"> - On Sale!</span></h1>
          <p v-show="inventory > 10">In Stock</p>
          <p v-if="inventory <= 10 && inventory > 0">Low Stock</p>
          <p v-else>Out of Stock</p>
          <p>{{ description }}</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <div v-for="variant in variants" :key="variant.variantId">
            <p>{{ variant.variantSize }}</p>
          </div>
        </div>
      </div>
      <a :href="link">Challenge Link</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>